html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  flex-shrink: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 45%;
  background-color: lightcoral;
}